version: '3.7'

services:
  mysql:
    image: mariadb
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    volumes:
      - data:/var/lib/mysql
      - ./dump:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: "password" # 任意で変更してください
      MYSQL_DATABASE: "drupal_db" # 任意で変更してください
      MYSQL_USER: "drupal_user" # これいらん
      MYSQL_PASSWORD: "pass" # これいらん
    ports:
      - "3306:3306"

  drupal:
    build: ./
    volumes:
      - ./web/themes:/var/www/html/themes
      - ./web/modules:/var/www/html/modules
      - ./web/sites:/var/www/html/sites
      - ./config:/opt/drupal/config
      - ./composer.json:/opt/drupal/composer.json
      - ./composer.lock:/opt/drupal/composer.lock
    ports:
      - "80:80"
    depends_on:
      - mysql
    user: "1000:1000"

volumes:
  data: {}